---
interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
import bgOverlay from "@/images/bg-overlay.png";
---

<div class="bg-[#CBA76B] py-4 px-10 shadow-2xl rounded-md bg-repeat" style=`background-image: url('${bgOverlay.src}')`>
    <h4>{title}</h4>
    <div
            class="hidden lg:block w-full h-[1px] bg-white my-4"
        >
        </div>
    <p>
        {description}
    </p>
</div>