---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import Image from "astro/components/Image.astro";
import fotonaLiplaseBG from "@/images/fotona-liplase-bg.jpg";
import CustomSeparator from "@/components/CustomSeparator.astro";
import PageBackground from "@/components/PageBackground.astro";
import fotonaLiplase from "@/images/fotona-liplase.jpeg";
import resultats from "@/images/fotona-liplase-resultats.jpg";
---

<Layout
    language="fr"
    title="Fotona - LipLase® | Clinique Idyllium, Vaudreuil"
    description="Clinique Idyllium | Injections Botox Fillers | Vaudreuil-Dorion"
    keywords="Clinique, Idyllium, esthétique médicale, rajeunissement, raffermissement cutané"
    currentHref="/traitement/fotona-liplase"
    alternateHref="/en/treatment/fotona-liplase"
>
    <main>
        <PageBackground
            src={fotonaLiplaseBG.src}
            section="Traitement"
            title="Fotona - LipLase®"
            subtitle="Repulpant non invasif pour des lèvres plus pulpeuses sans injectables"
        />
        <div class="p-5 md:p-8 lg:p-12 w-full">
            <h1 class="p-5 uppercase text-center">Repulping des lèvres</h1>
            <p class="!leading-10 text-muted-foreground">
                <span
                    >La modalité Fotona SMOOTH® Er:YAG fournit une réponse
                    immédiate que les patients remarqueront. Contrairement aux
                    produits de comblement injectables, le traitement LipLase®
                    est non invasif et n’a rien d’artificiel puisque les
                    patients développent leur propre collagène dans leurs
                    lèvres. Avec plusieurs passes ajustées, les caractéristiques
                    des « lèvres idéales » peuvent être obtenues telles que la
                    plénitude, le volume, l’équilibre correct entre les lèvres
                    supérieures et inférieures et une bordure vermillon bien
                    définie.
                </span>
                <span class="block"
                    >Pour une stimulation encore plus profonde du collagène, le
                    laser Nd:YAG en mode PIANO est utilisé, qui est le mode le
                    plus sûr pour atteindre les tissus cutanés plus profonds,
                    avec un effet thermique minimal sur la surface.
                </span>
            </p>
            <CustomSeparator />

            <div class="grid grid-cols-1 md:grid-cols-2 h-full gap-10">
                <div class="flex flex-col justify-center p-3">
                    <h2 class="uppercase font-black py-2">
                        Comment cela fonctionne?
                    </h2>
                    <p class="text-muted-foreground">
                        <span>
                            Les systèmes laser à double longueur d'onde suivants
                            de Fotona sont idéaux pour LipLase® et Fotona4D®
                            ainsi qu'une large gamme d'autres traitements de
                            resurfaçage et de rajeunissement de la peau :
                        </span>
                        <span class="block"
                            >Le système multi-applications Dynamis Pro de Fotona
                            offre une solution unique, unique et complète
                            offrant la puissance des lasers Er:YAG et Nd:YAG
                            ultra-hautes performances, idéales pour une large
                            gamme d'applications en esthétique et en
                            dermatologie. Le SP Dynamis comprend également un
                            laser chirurgical QCW Nd:YAG supplémentaire pour la
                            lipolyse et de nombreuses autres procédures
                            chirurgicales.
                        </span>
                        <span class="block"
                            >Le TimeWalker® Fotona4D® est un laser esthétique
                            Er:YAG et Nd:YAG de nouvelle génération dédié aux
                            traitements esthétiques du visage. Avec une
                            combinaison unique de la technologie laser avancée
                            de Fotona et des modes de traitement exclusifs
                            alimentés par ASP, TimeWalker® est conçu et
                            optimisé pour les procédures de lifting non
                            invasives telles que Fotona4D®, SmoothEye® et
                            LipLase®.
                        </span>
                    </p>
                </div>
                <div class="flex flex-row justify-center items-center">
                    <div class="relative inline-block">
                        <div class="relative">
                            <div
                                class="absolute inset-0 transform translate-x-3 translate-y-3 bg-[#EBD099]"
                            >
                            </div>
                            <Image
                                class="relative object-contain"
                                src={fotonaLiplase}
                                alt="Fotona Liplase"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <CustomSeparator />

            <div class="grid grid-cols-1 md:grid-cols-2 h-full gap-10">
                <div class="flex flex-col justify-center p-3">
                    <h2 class="uppercase font-black py-2">Vos résultats</h2>
                    <h3>Une performance supérieure</h3>
                    <p class="text-muted-foreground">
                        <span>
                            Le SP Dynamis et le SP Spectro sont tous deux
                            équipés d'un laser Er:YAG haute performance qui
                            ablate la peau plus efficacement grâce à la
                            technologie exclusive VSP (Variable Square Pulse),
                            qui peut être réglée avec précision en fonction de
                            diverses ablations « à froid » et thermiques non
                            ablatives. ratios. La personnalisation totale vous
                            permet d’obtenir avec précision les résultats
                            cliniques souhaités par vos patients.
                        </span>
                        <span class="block"
                            >Le laser Nd:YAG du SP Dynamis & SP Spectro complète
                            parfaitement l’action ablative du laser Er:YAG avec
                            la capacité de pénétrer profondément dans la peau
                            pour créer des effets thermiques sans endommager la
                            surface de la peau. Par rapport aux technologies
                            Nd:YAG conventionnelles, les impulsions VSP
                            exclusives de Fotona créent des augmentations de
                            température pratiquement instantanées qui sont
                            limitées aux structures ciblées uniquement. Aucune
                            énergie inutile n’est déposée dans la peau.
                        </span>
                    </p>
                    <h3>Pièces à main et accessoires</h3>
                    <p class="text-muted-foreground">
                        <span
                            >La technologie de pièce à main innovante et
                            spécialement conçue par Fotona permet une
                            distribution sûre, précise et optimale des
                            impulsions laser dans la zone de traitement. Plus
                            d’informations sur les pièces à main et autres
                            accessoires sont disponibles sur les pages produits
                            Dynamis Pro et TimeWalker® Fotona4D®.
                        </span>
                    </p>
                </div>
                <div class="flex flex-row justify-center items-center">
                    <div class="relative inline-block">
                        <div class="relative">
                            <div
                                class="absolute inset-0 transform translate-x-3 translate-y-3 bg-[#EBD099]"
                            >
                            </div>
                            <Image
                                class="relative object-contain"
                                src={resultats}
                                alt="resultats"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
