---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import Image from "astro/components/Image.astro";
import fotonaPigmentBG from "@/images/fotona-pigments-bg.jpg";
import CustomSeparator from "@/components/CustomSeparator.astro";
import PageBackground from "@/components/PageBackground.astro";
import resultats from "@/images/lesions-pigmentees-resultats.webp";
---

<Layout
    language="fr"
    title="Fotona - Lésions pigmentées | Clinique Idyllium, Vaudreuil"
    description="Clinique Idyllium | Injections Botox Fillers | Vaudreuil-Dorion"
    keywords="Clinique, Idyllium, esthétique médicale, rajeunissement, raffermissement cutané"
    currentHref="/traitement/fotona-lesions-pigmentees"
    alternateHref="/en/treatment/fotona-pigmented-lesions"
>
    <main>
        <PageBackground
            src={fotonaPigmentBG.src}
            section="Traitement"
            title="Fotona - Lésions pigmentées"
            subtitle="Une transmission rapide, simple et peu invasive"
        />
        <div class="p-5 md:p-8 lg:p-12 w-full">
            <h1 class="p-5 uppercase text-center">De quoi s’agit-il?</h1>
            <p class="!leading-10 text-muted-foreground">
                Les lésions pigmentées sont remarquablement fréquentes et la
                très grande majorité sont bénignes. Il est largement reconnu
                dans la communauté médicale que les lasers Q-Switched sont les
                outils idéaux pour éliminer efficacement les lésions pigmentées
                bénignes. Les systèmes laser multi-longueurs d'onde Q-Switched
                avec KTP doublé en fréquence sont capables de produire des
                impulsions très courtes de lumière intense qui sont
                sélectivement absorbées par les pigments spécifiques au
                traitement dans une lésion.
            </p>
            <CustomSeparator />

            <div class="grid grid-cols-1 md:grid-cols-2 h-full gap-10">
                <div class="flex flex-col justify-center p-3">
                    <h2 class="uppercase font-black py-2">
                        Comment cela fonctionne?
                    </h2>
                    <h3>
                        Quatre longueurs d'onde pour la plus large gamme de
                        lésions
                    </h3>
                    <p class="text-muted-foreground">
                        <span
                            >Le système laser StarWalker de Fotona est l'outil
                            idéal pour traiter un large éventail de lésions
                            pigmentées, permettant de traiter tout, des naevus
                            (grains de beauté) et lésions vasculaires aux
                            éphélides, taches solaires et mélasma. Les lésions
                            superficielles peuvent être traitées plus
                            efficacement avec la longueur d'onde de 532 nm,
                            tandis que la longueur d'onde de 1 064 nm peut être
                            utilisée pour cibler des lésions plus profondes.
                        </span>
                    </p>
                    <h3>Traitements sûrs, efficaces et peu invasifs</h3>
                    <p class="text-muted-foreground">
                        <span
                            >Le StarWalker est particulièrement efficace pour
                            les conditions difficiles à traiter en raison de la
                            sélectivité de la lumière à commutation Q, lui
                            permettant de briser uniquement les pigments et non
                            les cellules. Cela signifie que la destruction des
                            pigments peut avoir lieu sans ablation de la peau –
                            une caractéristique unique qui permet également
                            d’autres possibilités de traitement, telles que
                            l’élimination sûre et efficace de tatouages
                            ​​multicolores complexes.
                        </span>
                        <span class="block"
                            >En plus des lasers Q-Switched, les lasers Er:YAG
                            peuvent également être utilisés pour l'ablation des
                            kératoses, des grains de beauté et d'autres lésions
                            pigmentées, permettant l'élimination de l'épiderme
                            et du derme superficiel de manière contrôlée et
                            relativement sans effusion de sang. Des études
                            cliniques ont montré que les lasers Er:YAG sont très
                            efficaces pour le traitement des kératoses, avec une
                            amélioration clinique et histologique allant jusqu'à
                            93 % après un seul traitement.
                        </span>
                    </p>
                </div>
                <div class="flex flex-row justify-center items-center">
                    <div class="relative inline-block">
                        <div class="relative">
                            <div
                                class="absolute inset-0 transform translate-x-3 translate-y-3 bg-[#EBD099]"
                            >
                            </div>
                            <iframe
                                class="relative aspect-video w-full h-[400px]"
                                src="https://www.youtube.com/embed/EfzHqbEvsOY"
                                title="Fotona - Lésions pigmentées"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            >
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <CustomSeparator />

            <div class="grid grid-cols-1 md:grid-cols-2 h-full gap-10">
                <div class="flex flex-col justify-center p-3">
                    <h2 class="uppercase font-black py-2">Vos résultats</h2>
                    <h3>Une performance supérieure</h3>
                    <p class="text-muted-foreground">
                        <span class="block"
                            >La technologie de pointe à haute énergie et à
                            impulsion unique du StarWalker est beaucoup plus
                            efficace pour éliminer les pigments que les lasers à
                            impulsions multiples qui génèrent des énergies
                            équivalentes. La technologie Q-switched à haute
                            énergie du StarWalker permet aux spots de plus
                            grande taille de rester efficaces en évitant l’effet
                            de diffusion de la lumière laser dans les tissus
                            cutanés.
                        </span>
                        <span class="block"
                            >Les impulsions uniques à haute énergie ne sont pas
                            affectées par le phénomène de blindage optique
                            résultant de la destruction des pigments, ce qui
                            signifie que des pigments plus nombreux et plus
                            profonds peuvent être ciblés et éliminés, maximisant
                            ainsi l'efficacité et l'efficience du traitement au
                            laser en une seule séance. L’utilisation de spots de
                            plus grande taille nécessite également moins de
                            fluence pour être efficace.
                        </span>
                    </p>
                    <h3>Pièces à main et accessoires</h3>
                    <p class="text-muted-foreground">
                        <span
                            >La technologie de pièce à main innovante et
                            spécialement conçue par Fotona permet une
                            distribution sûre, précise et optimale des
                            impulsions laser dans la zone de traitement. La
                            nouvelle pièce à main R-HX produit un profil de
                            faisceau laser complètement plat de forme hexagonale
                            pour permettre une couverture plus précise et
                            uniforme. Il n’y a aucun espace vide entre les spots
                            et aucun chevauchement indésirable. Cela garantit
                            une plus grande efficacité et des résultats
                            cliniques supérieurs.
                        </span>
                    </p>
                </div>
                <div class="flex flex-row justify-center items-center">
                    <div class="relative inline-block">
                        <div class="relative">
                            <div
                                class="absolute inset-0 transform translate-x-3 translate-y-3 bg-[#EBD099]"
                            >
                            </div>
                            <Image
                                class="relative object-contain"
                                src={resultats}
                                alt="resultats"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
